---

##########################################
# GitLab Runner Installation
##########################################

- name: "Check if GitLab Runner is already installed"
  stat:
    path: /usr/bin/gitlab-runner
  register: gitlab_runner_file


- name: "Download GitLab Runner repository installation script"
  get_url:
    url: "{{ gitlab_runner_repository_script_url }}"
    dest: /tmp/gitlab_runner_install_repository.sh
    validate_certs: "{{ gitlab_runner_download_validate_certs }}"
    mode: '0755'
  when: not gitlab_runner_file.stat.exists


- name: "Install GitLab Runner repository"
  command: bash /tmp/gitlab_runner_install_repository.sh
  when: not gitlab_runner_file.stat.exists


- name: "Install GitLab Runner package"
  apt:
    name: gitlab-runner
    state: present
    update_cache: yes
  when: not gitlab_runner_file.stat.exists


- name: "Add gitlab-runner user to docker group"
  user:
    name: gitlab-runner
    groups: docker
    append: yes


- name: "Restart GitLab Runner service"
  systemd:
    name: gitlab-runner
    state: restarted
    enabled: yes
