# vim: ts=2
---
- hosts: all
  remote_user: vagrant
  become: yes
  become_method: sudo
  
  vars_files:
    - group_vars/vault.yml
  
  vars:
    vHome: /home/vagrant
      
  tasks:

  - include_role:
      name: docker

  - include_role:
      name: gitlab

  - include_role:
      name: gitlab-runner
  
  - include_role:
      name: repositories-config