---

- name: Update repositories cache. 
  apt:
    update_cache: yes


- name: Safe system upgrade via aptitude.
  apt: 
    upgrade: safe


- name: Install packages required by Docker.
  apt:
    name: "{{ packages }}"
  vars:
    packages:
    - apt-transport-https
    - ca-certificates
    - curl
    - gnupg2
    - software-properties-common

- name: Add Docker GPG apt key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker repository
  apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu focal stable
    state: present

- name: Update repositories cache.
  apt:
    update_cache: yes
  
    
- name: Install Docker packages. 
  apt:
    name: "{{ dockerpackages }}"
  vars:
    dockerpackages:
    - docker-ce 
    - docker-ce-cli
    - containerd.io
    
- name: Add users to docker group. 
  shell: "usermod -aG docker {{ item }}"
  with_items:
    - vagrant
