external_url "{{ gitlab_external_url }}"

gitlab_rails['registry_enabled'] = {{ gitlab_registry_enable | lower }}
registry_nginx['ssl_certificate'] = "{{ gitlab_registry_nginx_ssl_certificate }}"
registry_nginx['ssl_certificate_key'] = "{{ gitlab_registry_nginx_ssl_certificate_key }}"
registry_external_url "{{ gitlab_registry_external_url }}"

# OPTIMIZATIONS
puma['worker_processes'] = 0
sidekiq['concurrency'] = 10
prometheus_monitoring['enable'] = false