{
    "presets": [["env",{
        "useBuiltIns": "entry",
        "modules": "commonjs"
      }], "react"],
    "plugins": ["transform-decorators-legacy","transform-object-rest-spread","transform-class-properties"]
}
