stages:
  - commit
  - staging
  - production

##########################
####   COMMIT STAGE   ####
##########################
build:
  image: gradle:8.3-jdk17
  stage: commit
  tags:
    - docker-runner
  variables:
    GRADLE_USER_HOME: "$CI_PROJECT_DIR/.gradle"
  cache:
    key: gradle-cache
    paths:
      - .gradle
  script:
    - gradle clean bootJar -x test --build-cache --no-daemon
  artifacts:
    name: "backend-build-$CI_COMMIT_SHORT_SHA"
    paths:
      - build
    expire_in: 1 week

test:
  image: gradle:8.3-jdk17
  stage: commit
  tags:
    - docker-runner
  variables:
    GRADLE_USER_HOME: "$CI_PROJECT_DIR/.gradle"
  cache:
    key: gradle-cache
    paths:
      - .gradle
  needs:
    - job: build
      artifacts: true
  script:
    - gradle test --no-daemon

package:
  image: docker:latest
  stage: commit
  tags:
    - docker-runner
  needs:
    - job: test
      artifacts: false
    - job: build
      artifacts: true
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
    # - ls -R build/libs/
  script:
    - docker build -t $CI_REGISTRY_IMAGE:latest .
    - docker push $CI_REGISTRY_IMAGE:latest

###########################
####   STAGING STAGE   ####
###########################
# acceptance:
#   image: docker:latest
#   stage: staging
#   tags:
#     - integration
#   needs:
#     - job: package
#   before_script:
#     - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
#     - docker pull $CI_REGISTRY_IMAGE:latest
#     - docker compose --file ./docker/docker-compose.db.yml up -d
#     - docker compose --file ./docker/docker-compose.backend.staging.yml up -d
#   script:
#     - echo "Acceptance tests here"

##############################
####   PRODUCTION STAGE   ####
##############################
# release:
