stages:
  - build

build_backend:
  image: gradle:8.3
  stage: build
  tags:
    - integration
  script:
    - gradle clean build bootJar --build-cache --no-daemon
  artifacts:
    name: "backend-jar-$CI_COMMIT_SHORT_SHA"
    paths:
      - build/libs/*.jar
    expire_in: 1 weeks