stages:
  - commit
  - staging
  - production

##########################
####   COMMIT STAGE   ####
##########################
build:
  image: gradle:8.3-jdk17
  stage: commit
  tags:
    - docker-runner
  variables:
    GRADLE_USER_HOME: "$CI_PROJECT_DIR/.gradle"
  cache:
    key: gradle-cache
    paths:
      - .gradle
  script:
    - gradle clean bootJar -x test --build-cache --no-daemon
  artifacts:
    name: "backend-build-$CI_COMMIT_SHORT_SHA"
    paths:
      - build
    expire_in: 1 hour

test:
  image: gradle:8.3-jdk17
  stage: commit
  tags:
    - docker-runner
  variables:
    GRADLE_USER_HOME: "$CI_PROJECT_DIR/.gradle"
  cache:
    key: gradle-cache
    paths:
      - .gradle
  needs:
    - job: build
      artifacts: true
  script:
    - gradle test --no-daemon
  artifacts:
    when: always  # Save results even if tests fail
    paths:
      - build/reports/tests/test/
    reports:
      junit: build/test-results/test/**/TEST-*.xml
    expire_in: 1 week

package:
  image: docker:29.1.3-cli
  stage: commit
  services:
    - name: docker:29.1.3-dind
      alias: docker
      command: ["--storage-driver=overlay2"]
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  tags:
    - docker-runner
  needs:
    - job: test
      artifacts: false
    - job: build
      artifacts: true
  before_script:
    # - docker info | grep "Storage Driver"
    # - ls -R build/libs/
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
  script:
    - docker build -t $CI_REGISTRY_IMAGE:latest .
    - docker push $CI_REGISTRY_IMAGE:latest

###########################
####   STAGING STAGE   ####
###########################
# acceptance:
#   image: docker:latest
#   stage: staging
#   tags:
#     - integration
#   needs:
#     - job: package
#   before_script:
#     - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
#     - docker pull $CI_REGISTRY_IMAGE:latest
#     - docker compose --file ./docker/docker-compose.db.yml up -d
#     - docker compose --file ./docker/docker-compose.backend.staging.yml up -d
#   script:
#     - echo "Acceptance tests here"

##############################
####   PRODUCTION STAGE   ####
##############################
# release:
